@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply h-screen;
}
.background {
    @apply bg-gradient-to-tr from-stone-900 to-indigo-900 bg-no-repeat h-screen w-screen fixed start-0 left-0 -z-10;
}
button {
    @apply font-bold w-36 border-2 border-transparent;
    font-family: 'Source Code Pro', monospace;
    color: white;
}
button:hover {
    @apply border-solid border-2 border-b-indigo-600 text-indigo-400;    
}
h3 {
    @apply text-2xl;
}
p {
    @apply text-base font-normal;
}
.navbar {
    @apply flex flex-row justify-end px-5 py-4 space-x-4;
    
}
.toplevel-text {
    @apply font-black text-white text-5xl mr-5; 
}
:hover.glass-card {
    @apply bg-stone-900/10 rounded-xl shadow-2xl ring-1 ring-blue-400/10 backdrop-blur-sm;
}
.tag {
    @apply px-3 mx-1 rounded-full bg-indigo-600/25 text-blue-400 text-sm;
}