h2 {
    @apply text-lg sm:text-2xl font-bold sm:my-5 my-2 text-white;
}
h3 {
    @apply text-xl font-bold my-5 text-white;
}
p {
    @apply text-white;
}
span {
    @apply text-white;
    white-space: pre-wrap;
}
button {
    @apply font-bold w-fit border-2 border-transparent sm:text-base text-sm;
    font-family: 'Source Code Pro', monospace;
    color: white;
}
button:hover {
    @apply border-solid border-2 border-b-indigo-600 text-indigo-400;    
}

.PostDetails {
    @apply text-blue-600/50 italic;
}
.PostDetailsValues {
    @apply text-blue-400/50 italic;
}